{% extends "index.html" %}
{% load static %}
{% load staticfiles %}
{% load my_filter %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <h2 class="blog-post-title">{{ article.HEADER }}</h2>

                <p class="blog-post-meta">
                    {{ article.DATA_SENT }} by
                    <a href="#">{{ article.USER_ID|get_name_by_id }}</a>
                </p>

                <p>{{ article.Text_news }}</p>
                <a href="/article/add_like/{{ article.NEWS_ID }}/"><img src="{% static 'images/likeButton.png' %}"
                                                                        width="30"
                                                                        height="30 "></a>
                <span class="label label-primary">{{ article.NUMBER_LIKES }}</span>
                {% if article.IS_SAND == 1 %}
                    <span class="label label-success">{{ article.NUMBER_LIKES_JOURNALIST }}</span>
                {% endif %}
                {% if user_name != None %}
                    <h4>Leave a Comment:</h4>
                    <form accept-charset="UTF-8" role="form" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <textarea name="comment" class="form-control" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                {% endif %}
                <br><br>

                <p><span class="badge">{{ comments|length }}</span> Comments:</p><br>

                <div class="row">
                    {% for comment in comments %}
                        <div class="col-sm-9 col-sm-offset-1">
                            <h4>{{ comment.USER_NAME }}
                                <small>{{ comment.DATE_SENT }}</small>
                            </h4>
                            <p>{{ comment.TEXT_CMT }}</p>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>