{% extends "index.html" %}
{% load static %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{ article.HEADER }}{% endblock %}

{% block meta %}
    <script src="/static/js/markdown.min.js"></script>
    <script>
        $(function () {
            $('#news_content').html(markdown.toHTML($('#news_content').html()));
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <h2 class="blog-post-title">{{ article.HEADER }}</h2>

                <p class="blog-post-meta">
                    {{ article.DATE_SENT }} by
                    <a href="/user/{{ article.USER_ID|get_name_by_id }}">{{ article.USER_ID|get_name_by_id }}</a>
                </p>

                <p id="news_content">{{ article.TEXT_NEWS }}</p>
                {% if is_bookmarked %}
                <a href="/bookmark/{{ article.NEWS_ID }}/">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add to bookmark
                </a>
                {% else %}
                <a href="/bookmark/{{ article.NEWS_ID }}/">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Remove from bookmarks
                </a>
                {% endif %}
                {% if  is_admin %}
                    <ul>
                    {% for item in history %}
                        <li><small>{{ item.APPROVAL_DATE }}</small> {{ item.USER_NAME }} changes status to {% if item.STATUS == 1 %}SANDBOX{% else %}MAINPAGE{% endif %}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if user_name != None %}
                    <h4>Leave a Comment:</h4>
                    <form accept-charset="UTF-8" role="form" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <textarea name="comment" class="form-control" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                {% endif %}
                <br><br>

                <p><span class="badge">{{ comments|length }}</span> Comments:</p><br>

                <div class="row">
                    {% for comment in comments %}
                        <div class="col-sm-7">
                            <h4>{{ comment.USER_NAME }}
                                <small>{{ comment.DATE_SENT }}</small>
                            </h4>
                            <p>{{ comment.TEXT_CMT }}</p>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
