{% extends "index.html" %}
{% load static %}
{% load staticfiles %}
{% load filters %}

{% block title %}Your inbox{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <h2 class="blog-post-title">Your inbox</h2>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <h3>Write a message</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
                            </div>
                            <textarea class="form-control" rows="3" name="message"></textarea>
                            <button type="submit" class="btn btn-default">Send</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    {% for message in messages %}
                        <div class="col-md-offset-3 col-md-6">
                            <h4>
                                from {% if message.SENDER_ID == current_id %}{{ user_name }}{% else %}<a href="/user/{{ message.USER_NAME }}">{{ message.USER_NAME }}</a>{% endif %}
                                to {% if message.RECEIVER_ID == current_id %}{{ user_name }}{% else %}<a href="/user/{{ message.USER_NAME }}">{{ message.USER_NAME }}</a>{% endif %}
                                <small>{{ message.DATE_SENT }}</small>
                            </h4>
                            <p>{{ message.TEXT }}</p>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
