{% load static %}
{% load staticfiles %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Chasopis.by{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block meta %}
        <script src="/static/js/markdown.min.js"></script>
        <script>
            $(function () {
                $('.article_content').each(function () {
                    $(this).html(markdown.toHTML($(this).html()));
                });
            });
        </script>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Chasopis.by</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% if user_name != None %}
                        <li><a href="/sandbox/">Article sandbox</a></li>
                        <li><a href="/submit/">Submit article</a></li>
                        {% block menumore %}
                        {% endblock %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user_name == None %}
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% else %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Hello, {{ user_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/{{ user_name }}">Personal page</a></li>
                            <li><a href="/bookmarks/">Bookmarks</a></li>
                            <li><a href="/inbox/">Private messages</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
{% block header %}
    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">{{ header }}</h1>
            <h1 class="us"></h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1 blog-main">
                <div class="blog-post">
                    {% for article in news %}
                        <h2 class="blog-post-title">
                            <a href="/article/{{ article.NEWS_ID }}">
                                {{ article.HEADER }}
                            </a>
                        </h2>
                        <p class="blog-post-meta">
                            {{ article.DATE_SENT }}
                            {% if article.CATEGORY_ID %}
                                in <a href="/sandbox/{{ article.CATEGORY_ID }}">{{ article.CATEGORY_NAME }}</a>
                            {% endif %}
                            {% if is_admin %}
                                | <a href="/disapprove/{{ article.NEWS_ID }}">Disapprove</a>
                                | <a href="/delete/{{ article.NEWS_ID }}">Delete</a>
                            {% endif %}
                        </p>
                        <p class="article_content">{{ article.TEXT_NEWS }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>