{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <h4>Add News:</h4>

                <form accept-charset="UTF-8" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="header" class="form-control" rows="1" placeholder="Header" required></textarea>
                    </div>
                    <div class="form-group">
                        <textarea name="news" class="form-control" rows="6" placeholder="Text article" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>

                {% for article in news %}
                    <h2 class="blog-post-title">
                        <a href="/article/get/{{ article.0 }}">
                            {{ article.2 }}
                        </a></h2>
                    <p class="blog-post-meta">
                        January 1, 2014 by
                    </p>
                    <p>{{ article.1 }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}