{% extends 'index.html' %}
{% load my_filter %}
{% block title %}
    Sandbox
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1 blog-main">
                <div class="blog-post">
                    {% for article in news %}
                        <h2 class="blog-post-title">
                            <a href="/article/get/{{ article.NEWS_ID }}">
                                {{ article.HEADER }}
                            </a></h2>
                        <p class="blog-post-meta">
                            {{ article.DATA_SENT }} by
                            <a href="#">{{ article.USER_ID|get_name_by_id }}</a>
                        </p>
                        <p>{{ article.TEXT_NEWS }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}