{% extends 'index.html' %}
{% block title %}
    Sandbox
{% endblock %}
{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 blog-main">
                <div class="blog-post">
                    {% for article in news %}
                        <h2 class="blog-post-title">
                            <a href="/article/get/{{ article.News_id }}">
                                {{ article.Header }}
                            </a></h2>
                        <p class="blog-post-meta">
                            January 1, 2014 by
                            <a href="#">Vadya</a>
                        </p>
                        <p>{{ article.Text_news }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}