{% extends "index.html" %}
{% load filters %}
{% block meta %}
    <link rel="stylesheet" href="/static/css/bootstrap-markdown.min.css">
    <script src="/static/js/markdown.min.js"></script>
    <script src="/static/js/bootstrap-markdown.js"></script>
    <script>
        $(function(){
            $("#news").markdown({autofocus: false, savable: false});
        });
    </script>
    <style>
        .md-preview p {
            color: #000000;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <h4>Submit article:</h4>
                <form accept-charset="UTF-8" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="header" class="form-control" id="title" placeholder="Title" required
                        {% if article %}value="{{ article.HEADER }}"{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" class="form-control" id="category">
                            {% for category in categories %}
                            <option value="{{ category.CATEGORY_ID }}"
                            {% if article and article.CATEGORY_ID == category.CATEGORY_ID %}selected{% endif %}>{{ category.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="news" class="form-control" rows="6" id="news" required>{% if article %}{{ article.TEXT_NEWS }}{% endif %}</textarea>
                    </div>
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li class="errors">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}